# Bundler cache
.bundle
vendor
Gemfile.lock

# Jekyll cache
.jekyll-cache
.jekyll-metadata
_site

# RubyGems
*.gem

# NPM dependencies
node_modules

# Build output
assets/js/dist

# IDE configurations
.idea
.kiro
.vscode

# Misc
*.code-workspace
